body,ul,p{
    margin: opx;
    padding: opx;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

.logo{
    width: 200px  
}a

{
text-decoration: none;
color: white;   
}
   

.header{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
}

.flex{
min: height 100vh;
background-color: rgb(207, 26, 138);
display: flex;
flex-direction: column;
}

.imagem{
 width: 200px;
 height: auto;  
}

.item{
display: flex;
align-items: flex-start;
margin: 10px;
}

.paragrafo{
font-family: 'Poppins',sans-serif;
font-family: 'Raleway'sans-serif;
text-align: justify;
}



